.instrument-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    position: absolute;
    top: 0;
    left: 0;
    width: 12.5rem;
    height: 14.3rem;
}

.gauge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--panel-bg);
    backdrop-filter: blur(1rem);
    border-radius: 50%;
    cursor: grab;
    border: 0.4rem solid var(--panel-border);
    box-shadow: 0 0.5rem 1.5rem var(--shadow-color), inset 0 0 1rem rgba(0,0,0,0.1);
    position: relative;
}

.gauge-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin-top: -0rem;*/
}

.gauge-dial-unit {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    pointer-events: none;
}


@media (max-width: 1024px) {
    .instrument-wrapper {
        top: 3rem;
    }
}